//@import 'mixins';

    //NEWSLETTER SIGN UP STYLES
    #newsletter-block {
      background-color: $secondary-background;
      padding: .5em 1em 2em !important;
      #newsletter-copy {
        width:100%;
        @include inline;
        vertical-align: middle !important;
        padding: 0 1.5em;
        background-position: right;
        text-align: center;
        h2 {
          font-size: 32px;
          margin: 15px 0 -5px;
          text-align: center;
          line-height: auto;
        }
        p.white {
          margin:1em 0;
        }
      }
      #newsletter-subscription {
        width: 100%;
        @include inline;
        vertical-align: middle !important;
        padding:0 1em 0 1em;
        margin:0;
        label {
          height: 0px;
          width: 0px;
          overflow: hidden;
        }
        .form-item.form-type-textfield.form-item-EMAIL-ADDRESS-, .form-item.form-type-textfield.form-item-zip {
          display: inline-block;
          vertical-align: top;
          margin: 0;
        }
        .form-item.form-type-textfield.form-item-EMAIL-ADDRESS- {
          width: 40%;
        }
        input {
          box-sizing: border-box;
          border: none;
          height: 40px;
          vertical-align: top;
          margin-bottom: 0px;
          display: inline-block;
          &.email {
            width: 100%;
            padding-left: 10px;
          }
          &.zip {
            width: 100%;
            padding-left: 10px;
          }
        }
        input[type=submit] {
          border: none;
          display: inline-block;
          vertical-align: top;
          height: 40px;
          width: 20%;
          padding: 0 15px;
          font-family:"LeagueGothic";
          text-transform: uppercase;
          font-weight: normal;
          font-size: 21px;
          color: #fff;
          background: $cta;
          &:hover {
            background:darken($cta, 15%)
          }
        } 
        p {
          margin:0px;
          font-size:20px;
          //color: $secondary-type;
          text-align: center;
          &.error {
            background: #8c2e0b;
            color: #fff;
            display: block;
            width: auto;
            margin: 0 !important;
            box-sizing: border-box;
            padding: .5em;
            font-size: 12px;
            width: 100%;
          }
        }
        .horizontally-centered {
          text-align: center;
        }
      }
      //Tablet Devices
      @media only screen and (min-width : 768px) and (max-width : 1024px)  {
        position: relative;
        //background: $secondary-background;
      }
      //Mobile Devices
      @media screen and (max-width: $small-breakpoint) {
        //background:$secondary-background;
        padding:2em;
        position: relative;
        #newsletter-copy {
          width:100%;
          padding: 0 0 20px;
          border-right: none;
          background: none;
          h2 {
            font-size: 42px;
            line-height: 52px;
          }
          p.white {
            margin: 0;
          }
        }
        #newsletter-subscription {
          width: 100%;
          margin-top: 0;
          input[type=submit] {
            border-radius: 0 !important;
            font-size: 30px;
            height: 70px;
            width: auto;
            //padding: 6px 10px;
            box-sizing: border-box;
            margin-bottom: 0;

          }
          .form-item.form-type-textfield.form-item-EMAIL-ADDRESS-, .form-item.form-type-textfield.form-item-zip {
            display: block;
            width: 100%;
          }
          input {
            display: block;
            margin: auto auto 1em;
            width: 100%;
            height: 60px;
            &.email {
              width: 100%;
              padding-left: 10px;
            }
            &.zip {
              padding-left: 10px;
            }
          }
        }
      }

    }
    /*.form-item.form-type-textfield.form-item-EMAIL-ADDRESS-, .form-item.form-type-textfield.form-item-zip {
      display: inline-block;
      vertical-align: top;
      margin:0;
    }
    .form-item.form-type-textfield.form-item-EMAIL-ADDRESS- {
      width: 40%;
    }

    #content #block-newsletters-newsletters-sidebar-form #newsletters-sidebar-subscription-form {
      border: 0;
      padding: 0;
    }
    #content #block-newsletters-newsletters-sidebar-form .newsletter-input-wrap {
      float: none;
    }
    #content #block-newsletters-newsletters-sidebar-form .newsletter-input-wrap .form-item-EMAIL-ADDRESS- {
      width: 100%;
    }
*/
